@charset "UTF-8";
/*Nesting o anidando*/
ul {
  list-style-type: none; }
  ul li {
    display: inline-block; }
    ul li a {
      text-decoration: none;
      color: black;
      background: yellow;
      padding: 15px 25px; }
    ul li a:hover {
      color: teal; }

/*Declarando Variables-------------------------------------------------------------------*/
/*Las variables sirven para almacenar información*/
body {
  background: black;
  font-family: roboto; }

h1 {
  font: bold 4em "open sans", sans-serif;
  color: white; }

/*BEM-------------------------------------------------------------------*/
.quienes {
  background: orange; }

.quienes__integrantes, .quienes__integrantes--destacado {
  margin: 1em 0;
  font-size: 1.3em;
  color: teal;
  text-align: right; }

.quienes__integrantes--destacado {
  color: red;
  border: solid 1px red; }

/*Operadores-------------------------------------------------------------------*/
.quienes__box1 {
  width: 1200px;
  background: teal;
  color: white;
  padding: 1em; }

.quienes__box2 {
  width: 300px;
  background: teal;
  color: white;
  padding: 1em; }

.quienes__box3 {
  width: 700px;
  background: teal;
  color: white;
  padding: 1em; }

/*Condicionales-------------------------------------------------------------------*/
.header__title {
  border-bottom: solid 1px white;
  color: pink; }

/*Bucles-------------------------------------------------------------------*/
/*FOR*/
.todos1 {
  width: 300px;
  padding: 3em;
  background: blue; }

.todos2 {
  width: 600px;
  padding: 3em;
  background: blue; }

.todos3 {
  width: 900px;
  padding: 3em;
  background: blue; }

.todos4 {
  width: 1200px;
  padding: 3em;
  background: blue; }

.todos1 {
  width: 200px;
  padding: 1em;
  background: yellow; }

.todos2 {
  width: 400px;
  padding: 1em;
  background: yellow; }

.todos3 {
  width: 600px;
  padding: 1em;
  background: yellow; }

/*EACH*/
.beto-icon {
  background-image: url("../img/beto.jpg");
  width: 300px;
  height: 300px;
  border: solid 1px red; }

.pocho-icon {
  background-image: url("../img/pocho.jpg");
  width: 300px;
  height: 300px;
  border: solid 1px red; }

.pepe-icon {
  background-image: url("../img/pepe.jpg");
  width: 300px;
  height: 300px;
  border: solid 1px red; }

/*MAPS-------------------------------------------------------------------*/
.btn-twitter {
  background-color: lightblue;
  padding: 15px 25px;
  font-size: 1.3em; }

.btn-facebook {
  background-color: blue;
  padding: 15px 25px;
  font-size: 1.3em; }

.btn-mail {
  background-color: red;
  padding: 15px 25px;
  font-size: 1.3em; }

/*MIXINS-------------------------------------------------------------------*/
.box {
  width: 700px;
  height: 300px;
  background: green; }
