body {margin: 0; padding: 0; font-family: roboto;}
header {background-color: #00182e; padding-top: 2em; color: white;}
h1, h2 {text-align: center;}
footer {background-color: black; padding: 3em 0; color: white; text-align: center;}

#flex-1 {
	display: flex; /*Importante para que los bloques queden uno al lado del otro (elementos de linea)*/
/*flex-direction: row;
flex-wrap: wrap-reverse; */
flex-flow: row-reverse wrap;
}

#flex-1 div {
	width: 200px;
	height: 200px;
	border: solid 1px green; 
	text-align: center;
	font-size: 3em;
	color: green;
}

#flex-2 {
	display: flex;
	justify-content: space-around;
}

#flex-2 div {
	width: 200px;
	height: 200px;
	border: solid 1px purple; 
	text-align: center;
	font-size: 3em;
	color: purple;
}

#flex-3 {
	display: flex;
	align-items: stretch; /*flex-start flex-end center stretch baseline*/
	background-color: #fde0ff;
	height: 500px;
}

#flex-3 div {
	width: 200px;
	/*height: 200px;*/ /*El valor strech requiere que el elemento no tenga altura para que se vea*/
	border: solid 1px pink; 
	text-align: center;
	font-size: 3em;
	color: pink;
}

#flex-4 {
	display: flex;
	align-items: baseline; /*flex-start flex-end center stretch baseline*/
	background-color: orange;
	height: 500px;
}

#flex-4 div.alt-1 {height: 250px; width: 200px;padding-top: 60px;}
#flex-4 div.alt-2 {height: 150px; width: 200px;padding: 70px;}
#flex-4 div.alt-3 {height: 350px; width: 200px;}
#flex-4 div.alt-4 {height: 100px; width: 200px;}

.alt-1, .alt-2, .alt-3, .alt-4 {border: solid 2px #992b00;}

#flex-4 div {
	width: 200px;
	text-align: center;
	font-size: 3em;
	color: #992b00;
}

#flex-5 {
	display: flex;
	align-content: space-between;
	flex-flow: row wrap;
	background-color: red;
	height: 700px;
}

#flex-5 div {
	width: 200px;
	height: 200px;
	border: solid 1px #a71611; 
	text-align: center;
	font-size: 3em;
	color: #a71611;
}

/*PROPIEDADES FLEX-ITEM*/
#fitem-1 {
	display: flex;
	flex-flow: row wrap;
	background-color: teal;
	height: 500px;
}

#fitem-1 div {
	flex-grow: 1;
	width: 200px;
	height: 200px;
	border: solid 2px #2e4f57; 
	text-align: center;
	font-size: 3em;
	color: #2e4f57;
}

#fitem-1 div.w3{
	flex-grow: 5;
	order: 1;
}

#fitem-2 {
	display: flex;
	flex-flow: row;
	background-color: yellow;
	height: 500px;
}

#fitem-2 div{
	flex-basis: 25%;
	height: 200px;
	border: solid 2px #bfc200; 
	text-align: center;
	font-size: 3em;
	color: #bfc200;
}